@import 'variable.scss';
.header {
  background-color: #AA0601;
  padding: 30px 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 30px;

  @include pad(){
    padding: 30px 39px;
  }
  @include phone(){
    padding: 0;
    flex-direction: column;
  }
  .logo{
    @include phone(){
      text-align: center;
      padding: 10px;
    }
  }

  .menu{
    display: flex;

    @include phone(){
      flex-wrap: wrap;
      width: 100%;
    }
    li{
      @include phone(){
        width: 50%;
        text-align: center;
        border: 1px solid #fff;
      }
      a{
        color: #FFFFFF;
        text-decoration: none;
        padding:20px 32px;

        @include phone(){
          display: block;
          width: 100%;
          padding: 8px 0;
        }
        &:hover{
          border-bottom: 2px solid #fff;
          @include phone(){
            border-bottom:none;
            background-color: #fff;
            color: #AA0601;
          }
        }
      }
    }
  }
}