.title {
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  font-size: 48px;
  line-height: 80px;
  font-weight: bold;
  margin-bottom: 60px; }
  @media (max-width: 992px) {
    .title {
      border-left-width: 4px;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 24px; } }

.selector {
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .selector {
      margin-bottom: 20px; } }
  .selector span {
    font-size: 24px;
    line-height: 30px;
    margin-right: 20px;
    vertical-align: middle; }
    @media (max-width: 992px) {
      .selector span {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .selector span {
        font-size: 14px;
        margin-right: 12px; } }
  .selector select {
    padding: 11px 0;
    width: 324px;
    font-size: 18px;
    line-height: 26px; }
    @media (max-width: 992px) {
      .selector select {
        width: 237px;
        font-size: 16px;
        line-height: 24px; } }
    @media (max-width: 767px) {
      .selector select {
        padding: 7px 0;
        width: 277px; } }

.locationList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 767px) {
    .locationList {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .locationList .locationItem {
    width: 350px;
    margin-bottom: 32px; }
    .locationList .locationItem.empty {
      visibility: hidden; }
    @media (max-width: 992px) {
      .locationList .locationItem {
        width: 330px; } }
    @media (max-width: 767px) {
      .locationList .locationItem {
        width: 100%; } }
    .locationList .locationItem img {
      max-height: 234px;
      width: 100%; }
      @media (max-width: 992px) {
        .locationList .locationItem img {
          max-height: 100%; } }
    .locationList .locationItem .locName {
      padding: 12px 24px;
      font-size: 24px;
      line-height: 1.5;
      border: 1px solid #00000020;
      border-bottom: none; }
      @media (max-width: 992px) {
        .locationList .locationItem .locName {
          font-size: 16px;
          padding: 8px 24px; } }
    .locationList .locationItem .locInfo {
      border: 1px solid #00000020;
      padding: 16px 24px; }
      .locationList .locationItem .locInfo li {
        vertical-align: middle;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 1.5; }
        .locationList .locationItem .locInfo li:last-child {
          margin-bottom: 0px; }
        @media (max-width: 992px) {
          .locationList .locationItem .locInfo li {
            font-size: 14px; } }
        .locationList .locationItem .locInfo li .icon {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 8px; }
          .locationList .locationItem .locInfo li .icon.verticalTop {
            vertical-align: top; }
          @media (max-width: 992px) {
            .locationList .locationItem .locInfo li .icon {
              width: 20px;
              height: 20px; } }
        .locationList .locationItem .locInfo li span {
          width: 87%;
          display: inline-block;
          vertical-align: middle; }
          @media (max-width: 992px) {
            .locationList .locationItem .locInfo li span {
              width: 90%; } }
    .locationList .locationItem a {
      display: block;
      color: #FFF;
      background-color: #000;
      text-decoration: none;
      text-align: center;
      font-size: 19px;
      line-height: 27px;
      padding: 20px 0; }
      @media (max-width: 992px) {
        .locationList .locationItem a {
          font-size: 14px;
          line-height: 21px;
          padding: 16px 0; } }

/*# sourceMappingURL=location.css.map */
